<div class="row">
    <div class="col-sm-3" style="font-weight: bold">
        Preoject Name :
    </div>
    <div class="col-sm-9" style="font-weight: bold">
        Improve the Car Maintenance Experince
    </div>
</div><br>
<div class="panel panel-danger">
    <div class="panel-heading" style="text-align:center" data-toggle="collapse"  href="#demo">Empathy Map</div>
    <div class="panel-body" id="demo" class="panel-collapse collapse">
        <div class="row">
            <div class="col-sm-6">
                <div class="panel panel-default">
                    <div class="panel-heading" style="text-align:center">Do</div>
                    <div class="panel-body">To feel empowered</div>
                </div>
            </div>
            <div class="col-sm-6">
                 <div class="panel panel-default">
                    <div class="panel-heading" style="text-align:center">Say</div>
                    <div class="panel-body">To trust her machinic</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="panel panel-default">
                    <div class="panel-heading" style="text-align:center">Think</div>
                    <div class="panel-body">To be independent<br>To appear Knowledgable</div>
                </div>
            </div>
            <div class="col-sm-6">
                 <div class="panel panel-default">
                    <div class="panel-heading" style="text-align:center">Feel</div>
                    <div class="panel-body"><br>To learn</div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="panel panel-danger">
    <div class="panel-heading" style="text-align:center" data-toggle="collapse" href="#demo1">Needs & Insight</div>
    <div class="panel-body" id="demo1" class="panel-collapse collapse">
        <div class="row">
            <div class="col-sm-6">
                <div class="panel panel-default">
                    <div class="panel-heading" style="text-align:center">Needs</div>
                    <div>
                        <table class="panel-body table table-condensed">
                            <thead>
                              <tr>
                                <th></th>
                                <th></th>
                                <th>Create</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td>1</td>
                                <td>To be independent</td>
                                <td>Edit</td>
                              </tr>
                              <tr>
                                <td>2</td>
                                <td>To appear Knowledgable</td>
                                <td>Edit</td>
                              </tr>
                              <tr>
                                <td>3</td>
                                <td>To learn</td>
                                <td>Edit</td>
                              </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                 <div class="panel panel-default">
                    <div class="panel-heading" style="text-align:center">Insight</div>
                    <div>
                        <table class="panel-body table table-condensed">
                            <thead>
                              <tr>
                                <th></th>
                                <th></th>
                                <th>Create</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td>1</td>
                                <td>To be independent</td>
                                <td>Edit</td>
                              </tr>
                              <tr>
                                <td>2</td>
                                <td>To appear Knowledgable</td>
                                <td>Edit</td>
                              </tr>
                              <tr>
                                <td>3</td>
                                <td>To learn</td>
                                <td>Edit</td>
                              </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="panel panel-danger">
    <div class="panel-heading" style="text-align:center" data-toggle="collapse" href="#demo2">HMW Questions</div>
    <div id="demo2" class="panel-collapse !collapse">
                        <table class="panel-body table table-condensed">
                            <thead>
                              <tr>
                                <th></th>
                                <th></th>
                                <th>Create</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td>1</td>
                                <td>HMW enable Erica to be Independent and deal with any situation</td>
                                <td>Edit</td>
                              </tr>
                              <tr>
                                <td>2</td>
                                <td>HMW enable Erica to feel empowered, what can we do to make her feel good</td>
                                <td>Edit</td>
                              </tr>
                              <tr>
                                <td>3</td>
                                <td>HMW enable Erica to trust her machinic, how can we help her find the best service place</td>
                                <td>Edit</td>
                              </tr>
                            </tbody>
                        </table>
                    </div>
</div>
<div style="text-align: center"><button type="button" class="btn btn-info" ng-click="goToIdeas()">Go to Ideas</button></div>