<div class="row" id="banner">
	<!-- <div class="panel-heading" style="text-align:center"><h2>Design Thinking</h2></div> -->
	<!-- <img class="col-lg-12" src = ""/> -->
	<div class="pull-left" id="headerlogo">
		<img src="img/dt-logo.png">
	</div>
	<div class="pull-right" id="headerlogo">
		<img class=" pull-right" src="img/techm-logo.png">
	</div>
</div>
<br>
<div>
	 <a href="#" class="pull-right" style="padding:8px"> Logout </a>
	<ui-breadcrumbs displayname-property="data.displayName"
		abstract-proxy-property="data.proxy"
		template-url="partials/uiBreadcrumbs.tpl.html"></ui-breadcrumbs>
		
		
</div>