<div class="row">
	<div class="col-lg-7">
	<div class="row">
		<div class="col-lg-6 col-md-10 col-sm-10 col-xs-10"><h4>Design Thinking Process</h4></div>
		<div class="col-lg-6 col-md-2 col-sm-2 col-xs-2 pull-right"><button type="button" class="btn btn-primary pull-right" ng-click="goToProjects()">Projects</button></div>
	</div><br>
		<div class="panel-group">
			<div class="panel head">
				<div class="panel-heading">
					<h4 class="panel-title">
						<a>Understand</a><button type="button" class="btn btn-link btn-xs pull-right"
			ng-click="toggleModal()">Help</button>
			<helpmodal visible="showModal">
			<h4>1. Prep</h4>
                <div id="prep" style="padding-left:20px;text-align:justify;">
                                Schedule the day and prepare yourself, read through the seven-track mixtape following these instructions. Rally your team, and block half a day on your schedules. Choose a place to go, or arrange interviewees, to conduct empathy work. Consider extreme users. <br>
                                Share the first five tracks with your team as pre-reading (empathizing, beginner's mindset, extreme users, what?/how?/why?, and interview).<br>
                                Link to Understand mixtape<br><br>
                </div>
                <h4>2. Frame</h4>
                <div id="frame" style="padding-left:20px;text-align:justify;">
                                Don't just proceed with your project as everyone currently understands it; Frame this block of time in a human-centered way, and allow space for exploration that is not bound to a current plan or capabipty. Structure the work in a human-centered way<br>
                                For example, say you are planning to build a website to connect workers to small jobs. Your research agenda might be: "understand busy people, their days, and how they get stuff done.<br>
                                <!-- <b>Lead Faciptator to Create Project & Add Research Agenda using the Projects Tab. </b> -->
                </div>
                <h4>3. Launch</h4>
                <div id="launch" style="padding-left:20px;text-align:justify;">
                                Suggested Duration: 30 min<br>
                                Get the team prepared and excited.  Start with a standing warm-up. Physically and behaviorally signal to your colleagues they should bring their energy and openness to the day's work. (Remember, you are creating an experience for your team that will help them excel.) Then kick off the empathy work. Quickly review the plan: where will you go, who will you talk to, and what's the research agenda. Remember: you are not looking for the "right" answer, you are looking for inspiration. Create pairs and prep interview questions.<br>
                                <!-- <b>Lead Faciptator to Identify who needs to be interviewed and who is interviewing using the Role Management Tab.</b> --><br>
                </div>
               <h4>4. Empathize</h4>
                <div id="empathize" style="padding-left:20px;text-align:justify;">
                                Suggested Duration: 120 min<br>
                                Engage with real people, interview and observe. Go for stories. Everyone should capture notes. Take pictures. Do not rely on memory.<br>
                                <!-- <b>Interviewer to Upload Media (Video/Audio) and/or Enter Text from the interview.</b> --><br>
                </div>   

                
                <h4>5. Unpack</h4>
                <div id="unpack" style="padding-left:20px;text-align:justify;">
                                Suggested Duration: 50 min<br>
                                Get the 'data' visually on the wall in small groups (2-6 people) share what you saw and heard in the field using the "story share-and-capture" method, and populate an "empathy map". As you work, write down tensions, contradictions, and surprises (TCS) that you notice. Do this work at group-scale, using a large wall or whiteboard.<br>
                                UNPACK: Create a four quadrant layout on paper or a whiteboard. Populate the map by taking note of the following four traits of your user as you review your notes, audio, and video from your fieldwork:
                                <ul>
                                                <li>SAY: What are some quotes and defining words your user said?</li>
                                                <li>DO: What actions and behaviors did you notice?</li>
                                                <li>THINK: What might your user be thinking? What does this tell you about his or her beliefs?</li>
                                                <li>FEEL: What emotions might your subject be feeling?</li>
                                </ul>
                                <br>
                                Note that thoughts/beliefs and feelings/emotions cannot be observed directly. They must be inferred by paying careful attention to various clues. Pay attention to body language, tone, and choice of words.<br>
                                HOW to story share-and-capture?
                                <ul>
                                                <li>Unpack observations and air all the stories that stick out to you about what you saw and heard during your empathy fieldwork. </li>
                                                <li>Each member in the group should tell user stories and share notes while other members headline quotes, surprises, and other interesting bits - one headline per post-it. </li>
                                                <li>These post-its become part of the team's space saturation, and can also be physically grouped to illuminate theme and patterns that emerge.</li>
                                                <li>The end goal is to understand what is really going on with each user. </li>
                                                <li>Discover who that person is and what that person needs in regard to your problem space.</li>
                                </ul>
                                <br>
                               <!--  <b>Facilitator to Create Observers</b> -->
                </div>   

<h4>6. Needs and insights</h4>
                <div id="needsandinsights" style="padding-left:20px;text-align:justify;">
                Suggested Duration: 50 min<br>
                Synthesize to find meaning <br>
                In the same groups, use your empathy map and the TCS to create a list of insights and list of unexpected needs. Get ideas on the board first, and then select and discuss which are fruitful. The goal is to make discoveries which could guide and inspire your project work.<br>
                HOW to use an empathy map?
                                <ul>
                                                <li>IDENTIFY NEEDS: "Needs" are human emotional or physical necessities. Needs help define your design challenge. Remember: Needs are verbs (activities and desires with which your user could use help), not nouns (solutions). Identify needs directly out of the user traits you noted, or from contradictions between two traits - such as a disconnect between what she says and what she does. Write down needs on the side of your Empathy Map.</li>
                                                <li>IDENTIFY INSIGHTS: An "Insight" is a remarkable realization that you could leverage to better respond to a design challenge. Insights often grow from contradictions between two user attributes (either within a quadrant or from two different quadrants) or from asking yourself "Why?" when you notice strange behavior. Write down potential insights on the side of your Empathy Map. One way to identify the seeds of insights is to capture "tensions", contradictions", and "surprises" as you work .</li>
                                </ul>
                <br>
                <!-- <b>Observe to View Empathy Map and Add Insights and Needs using the Define Tab.</b> --><br>
                </div>

<h4>7. Wrap</h4>
                <div id="wrap" style="padding-left:20px;text-align:justify;">
                                Suggested Duration: 30 min.<br>
                                Recap the work, and plan next steps.<br>
                                Share top insights with each other. Record (type or write) useful needs and insights. Discuss how the findings could influence the project. Discuss how the day's work felt. Celebrate the sprint you just accomplished.<br>
                </div>

<h4>8. Going forward (Tab Name)</h4>
                <div id="goingforward" style="padding-left:20px;text-align:justify;"> 
                                Integrate insights back into your project. Consider the ideate mixtape to move from insights to solution possibilities.<br>
                </div>

			</helpmodal>
					</h4>
				</div>
				<div class="panel">
					<div class="panel-body" style="margin-top: -25px;margin-bottom: -35px;"><p>EMPATHY & DEFINE : 
gives confidence that you are working on a meaningful problem;
forces you to take a perspective other than your own and define the problem</p></div>
				</div>
			</div>
		</div>
		<div class="panel-group">
			<div class="panel head">
				<div class="panel-heading">
					<h4 class="panel-title">
						<a>Ideate</a><button type="button" class="btn btn-link btn-xs pull-right"
			ng-click="toggleModal1()">Help</button>
			<helpmodal visible="showModal1">
			<h4>1. Prep</h4>
                <div style="padding-left:20px;text-align:justify;">
                                Schedule the day and prepare yourself<br>
                                Read through the six-track mixtape following these instructions. Block half a day on your team's schedules. Plan your space in a mindful way (where is a place that would be a change of atmosphere from the norm? Where can you stand and be loud?<br>
                                Link to Ideate mixtape<br>
                </div>
                
                
<h4>2.  Reframe</h4>
                <div style="padding-left:20px;text-align:justify;">
                                What's your unique perspective?<br>
                                This is probably the most important part of the brainstorm. What do you (and your team) know about this challenge that no one else has considered? Not in terms of your long-held expertise, but instead unique user-centered insights. What's your specific vision (not solution) about how you want change people's lives? Another way to think about this is: what assumption are you going to disrupt on your way to a successful solution?<br>
                                So, what's your unique perspective? Write down your human-centered point-of-view
                                                (not business plan) and specific insights. 
                                <br>
                                As an example, d.school alum dDoug Dietz works as a designer of medical imaging equipment. A few years ago, sedating kids before MRI scans were the norm (as high as 80%). One day Doug visited a hospital, and witnessed first-hand a family coming in for a scan and saw the true fear (and tears) of a seven year-old child and her parents. He realized the accepted attitude of just-get-through-it (and sedate children as needed) had to change. He needed to stop thinking about designing machines, and start thinking about designing experiences for those young patients. In the end, his new perspective resulted in significant reduction in child sedation on the pilot "adventure series" rooms.<br>
                </div>
                
                
<h4>3.  Brainstorming prompts: how-might-we questions</h4>
                <div style="padding-left:20px;text-align:justify;">
                                Show the following text:<br>
                                Use your insight and point-of-view to develop 5-10 provoking brainstorming questions. You can do this ahead-of-time or with your team during the work session. The key is to bake part of your unique perspective into each prompt.<br>
                                Continuing the above example, Doug's brainstorming topics could include "how might we make a medical scan like an adventure?", "how might we make the hospital like going to camp?", and "how might we help parents embody and convey safety ("everything is going to be okay") to their child?"<br>
                                Options for Finalizing Ideas 
                                                <ul>
                                                                <li>Post it Voting</li>
                                                                <li>Organize them into 4 categories - (The rational choice, The most likely to delight, The darling, and The long shot)</li>
                                                                <li>Bingo selection method - Choose ideas that inspire you to build in different form factors: a physical prototype, a digital prototype, and an experience prototype.</li>
                                                </ul>
                                <br>
<!--                                 <b>Capture Ideas using the Ideate Tab.</b><br>
                                <b>Capture feedback notes for each Idea</b><br> -->
                </div>
                
                
<h4>4. Test (90 min): let users to experience your prototypes </h4>
                <div style="padding-left:20px;text-align:justify;">
                                Your team won't feel done after 90 minutes of prototyping. Start testing anyhow to get initial feedback that you can use in further development. Go out in the field or br<br>users in for testing. Remember to capture notes.<br>
                </div>
                
                
<h4>5. Debrief (45 min): recap the feedback, and plan next steps</h4>
                <div style="padding-left:20px;text-align:justify;">
                                Review the feedback you received, using the "feedback capture grid" as a scaffold to the conversation. Discuss how to take solutions forward, or where you need more insight.<br>
                                <!-- <b>Facilitator to review feedback and Mark Ideas for Prototyping or for further brainstorming.</b> --><br>
                </div>
                
                
<h4>6. Going forward:</h4>
                <div style="padding-left:20px;text-align:justify;">
                                You should be happy if some or all of your ideas failed to please users during testing. Continue in one of three ways:<br>
                                - keep working to develop your solutions, taking account of the feedback,<br>
                                - generate new solution concepts or features of a solution (see ideate mixtape), or<br>
                                - think about where you need to dig deeper to find insights (see the understand mixtape; now you can do empathy work with or without prototypes in hand).<br>
                </div>
			</helpmodal>
					</h4>
				</div>
				<div class="panel">
					<div class="panel-body" style="margin-top: -25px;margin-bottom: -35px;text-align:justify;"><p>IDEATION : 
gives you copious and diverse design solution possibilities 
to select, develop and test</p></div>
				</div>
			</div>
		</div>
		<div class="panel-group">
			<div class="panel head">
				<div class="panel-heading">
					<h4 class="panel-title">
						<a>Experiment</a><button type="button" class="btn btn-link btn-xs pull-right"
			ng-click="toggleModal2()">Help</button>
			<helpmodal visible="showModal2">
			WHAT is prototyping?<br><br>
Prototyping is getting ideas and explorations out of your head and into the physical world. A prototype can be anything that takes a physical form - be it a wall of post-it notes, a role-playing activity, a space, an object, an interface, or even a storyboard. The resolution of your prototype should be commensurate with your progress in your project. In early explorations keep your prototypes rough and rapid to allow yourself to learn quickly and investigate a lot of different possibilities.<br>
Prototypes are most successful when people (the design team, the user, and others) can experience and interact with them. What you learn from those interactions can help drive deeper empathy, as well as shape successful solutions.<br>

                <h4>1. prep: schedule the day and prepare yourself</h4>
                <div style="padding-left:20px;text-align:justify;">
                                Read through the six-track mixtape following these instructions. Block half a day on your team's schedules. Find a space where you can build stuff. Gather low resolution materials (like cardboard boxes, construction paper, foil, pens, tape, etc.) and digital tools (computer, printer, etc.). Plan for user testing: who will you invite  in, or where will the team go, to get feedback on prototypes.<br>
                                You should come into the day with a set of solution possibilities. These can be very rough concepts. If you still need to generate concepts, see the ideate mixtape.<br>
                                Link to Ideate mixtape<br>
                </div>
                
                <h4>2. launch (15 min): warm-up and get to building</h4>
                                <div style="padding-left:20px;text-align:justify;">
                                                Do a standing warm-up. Do something different than you might do at typical meeting. Launch prototyping: remind the team that you are creating experiences for users to react to, using low-resolution prototypes. Get your team to move from discussion to building quickly. Create a fixed end time for prototyping by telling the team when users will arrive or when you will go out into the field. (Build in a time buffer break anyhow.)<br>
                                </div>
                                
                <h4>3. prototype (90 minutes): get building</h4>
                                <div style="padding-left:20px;text-align:justify;">
                                                Logged in Role - Facilitator<br>
                                                Add Prototyping Team (2-4 members)<br>
                                                It comes under role management screen<br>
                                                Work in small teams (2-4 people) to create prototypes. When prototyping services and experiences, create the scene and play roles. Depending on the stage of your project, either the "user-driven prototyping" approach or "wizard-of-oz prototyping" approach may be more useful.<br>
                                                HOW to create a user-driven prototype?<br>
                                                User-driven prototypes are often useful in early empathy work, as a way to facilitate a different kind of conversation. User-driven prototypes are also useful after you have determined the context and form-factor of your solution, to help think about some of the features and details of that solution.<br>
                                                The approach to creating a user-driven prototype is to set up a format for your users to create something which leads to your understanding of how they are thinking. As an example, if you were creating a website to allow users to create custom t-shirts, a traditional early-stage prototype might be a mock-up of the webpage with the features and buttons that you think might be appropriate.<br>
                                                A user-driven prototype could be to give your user a blank piece of paper and ask her to draw what she thinks the features should be. You might provide a light scaffolding to get her going, such as a piece of paper with boxes in the layout of a possible website, and then ask her to create the content for those boxes. Of course, there is an entire spectrum of how much you provide and how much you ask your user to create. You need to find the balance, depending on your project progress, for a prototype that is scaffolded enough that the user feels that she can be generative, but open enough that you learn outside of your own biases and assumptions.<br>
                                                Other examples of user-driven prototypes include: <br>
                                                -      asking a user to draw something ("draw how you think about going to the doctor"), <br>
                                                -      to make an object with simple materials ("make a bag for diapers and baby supplies, using this paper and tape"), or <br>
                                                -      to compile things ("tear out pictures from these magazines that represent your ideal mall shopping experience").<br>
                                                HOW to create a wizard-of-oz prototype?<br>
                                                You use a Wizard-of-Oz prototype to fake functionality that you want to test with users, thus saving you the time and resources of actually creating the functionality before you refine it through testing. Just like the small man behind the curtain faked the power of the wizard of oz, your design team can fake features that you want to test.<br>
                                                Wizard-of-Oz prototypes often refer to prototypes of digital systems, in which the user thinks the response is computer-driven, when in fact it is human controlled.<br>
                                                Creating a Wizard-of-Oz prototype starts with determining what you want to test or explore. It is often the case that you want to test something that requires great effort to create, like coding a digital interface, but you need to learn more before it makes sense to invest that effort. Figure out how to fake the functionality you need to give the user an authentic experience from their viewpoint. <br>
                                                Often leveraging existing tools can be very powerful:<br>
                                                Twitter, email systems, Skype, instant messengers, Powerpoint to fake a website, projectors, computer screens repurposed in a new skin, etc. Combine tools such as these with your human intervention behind the scenes, and you can create a realistic prototype. The concept can certainly be extended beyond the digital realm, to create physical prototypes. For example, you could prototype a vending machine without creating the mechanics and use a hidden person to deliver the selected purchases.<br>
                                                A good example of a wizard-of-oz prototype is from the company Aardvark. Aardvark connects people with questions with people best-qualified to answer via a digital interface over the internet. To create the network and algorithm to do this would require significant coding, but the team wanted to test user's reaction to the interface well before the coding was completed. They used an instant messaging system and a team of people behind the scenes to physically reroute questions and answers to the right people. The result is they learned a lot and developed their concept notably without investing coding resources.<br>
                                                Prototype Team to enter the following:
                                                <ul>
                                                                <li>Prototyping Method Used: User-driven prototype, Wizard of Oz prototype</li>
                                                                <li>Capture Prototype Description</li>
                                                                <li>Upload Pictures/Video</li>
                                                </ul>
                                                <br>
                                                </div>
                <h4>4. test (90 min): let users to experience your prototypes</h4>
                                <div  style="padding-left:20px;text-align:justify;">
                                                Your team won't feel done after 90 minutes of prototyping. Start testing anyhow to get initial feedback that you can use in further development. Go out in the field or bring users in for testing. Remember to capture notes.<br>
                                                WHY test with users?<br>
                                                Testing with users is a fundamental part of a human-centered design approach. You test with users to refine your solution and also to refine your understanding of the people for whom you are designing. When you test prototypes you should consider both their feedback on your solution and use the opportunity to gain more empathy. You are back in a learning and empathy mode when you engage users with a prototype.<br>
                                                HOW to test with users?<br>
                                                There are multiple aspects to be aware of when you test with users. One is your prototype, two is the context and scenario in which you are testing, three is how you interact with the user during testing and four is how you observe and capture and consider the feedback.<br>
                                                In regard to the first two aspects, you need to test a prototype in a context that give you the best chance for meaningful feedback; think about how the prototype and the testing scenario interact. If the prototype is a scenario, think about how to find the proper people (i.e. users relevant to your point-of-view) and get them in the right mindset so that you get genuine feedback.<br>
                                                Roles<br>
                                                During the testing itself, use intentional team roles, as you would with empathy work:<br>
                                                Host: You help transition the user from reality to your prototype situation and give them the basic context they need to understand the scenario (don't over-explain it, let the user discover through the experience). As the host, you will also likely be the lead questioner when the time comes.<br>
                                                Players: You often need to play certain roles in the scenario to create the prototype experience.<br>
                                                Observers: It is very important to have team members who are solely observers, watching the user experience the prototype. If you don't have enough people to run the prototype and observe, videotape the testing.<br>
                                                Procedure<br>
                                                Use a deliberate procedure when you test.<br>
                                                1. Let your user experience the prototype. Show, don't tell. Put your prototype in the user's hands (or your user in the prototype) and give just the minimum context so they understand what to do. Don't explain your hinking or reasoning for your prototype.<br>
                                                2. Have them talk through their experience. For example, when appropriate, as the host, ask "Tell me what you are thinking as you are doing this." <br>
                                                3. Actively observe. Watch how they use (and misuse!) what you have given them. Don't immediately "correct" what your user tester is doing.<br>
                                                4. Follow up with questions. This is important; often this is the most valuable part of testing. "Show me why this would [not] work for you." "Can you tell me more about how this made you feel?" "Why?"
                                                Answer questions with questions (i.e "well, what do you think that button does?").
                                                <br>
                                               <!--  <b>Observer to Capture Test Feedback from Testers.</b> --><br>
                                </div>
                <h4>5. debrief (45 min): recap the feedback, and plan next steps</h4>
                <div  style="padding-left:20px;text-align:justify;"> 
                                Review the feedback you received, using the "feedback capture grid" as a scaffold to the conversation. Discuss how to take solutions forward, or where you need more insight.<br>
                                WHY use a feedback capture grid?<br>
                                Use a feedback capture grid to facilitate real-time capture, or post-mortem unpacking, of feedback on presentations and prototypes - times when presenter-critiquer interaction is anticipated. This can be used either to give feedback on progress within the design team or to capture a user's feedback about a prototype. You use the grid because it helps you be systematic about feedback, and more intentional about capturing thoughts in the four different areas.<br>
                                HOW to use a feedback capture grid?<br>
                                1. Section off a blank page or whiteboard into quadrants.<br>
                                2. Draw a plus in the upper left quadrant, a delta in the upper right quadrant, a question mark in the lower left quadrant, and a light bulb in the lower right quadrant.<br>
                                It's pretty simple, really. Fill the four quadrants with your or a user's feedback. <br>
                                -      Things one likes or finds notable, place in the upper left; <br>
                                -      constructive criticism goes in the upper right;<br>
                                -      questions that the experience raised go in the lower left;<br>
                                -      ideas that the experience or presentation spurred go in the lower right.<br>
                                If you are giving feedback yourself, strive to give input in each quadrant (especially the upper two: both "likes" and "wishes").<br>
                                <!-- <b>Facilitator to Categorize feedback, Mark Finalized Prototypes and Identify Prototypes that need more work.</b> --><br>
                </div>
                
                <h4>6. going forward:</h4>
                <div  style="padding-left:20px;text-align:justify;">
                                You should be happy if some or all of your ideas failed to please users during testing. Continue in one of three ways:
                                                <ul>
                                                                <li>keep working to develop your solutions, taking account of the feedback,</li>
                                                                <li>generate new solution concepts or features of a solution (see ideate mixtape), or</li>
                                                                <li>think about where you need to dig deeper to find insights (see the understand mixtape; now you can do empathy work with or without prototypes in hand).</li>
                                                </ul>
                                <br>
                                <!-- <b>Facilitator to Submit finalized Prototypes to ‘Implementation' stage and close the project. Send Failed Prototypes Ideas brainstorming or prototyping stage.</b> --><br>
                
                <div>
			
			</helpmodal>
					</h4>
				</div>
				<div class="panel">
					<div class="panel-body" style="margin-top: -25px;margin-bottom: -35px;;text-align:justify;"><p>PROTOTYPING & TEST
gives confidence that your solution meets the need you uncovered;
accelerates learning when you adopt a low-resolution prototyping mindset</p></div>
				</div>
			</div>
		</div>
		<!-- <button type="button" class="btn btn-primary"
			ng-click="goToProjects()">Select Project</button> -->
	</div>
	<div class="col-lg-5">
		<img class="img-responsive col-lg-12" src="img/pic.jpg" />
	</div>
</div><!-- <p>Envelope icon: <span class="glyphicon glyphicon-envelope"></span>abcd</p> -->
<!-- 
<video width="400" controls>
  <source src="media/vid1.mp4" type="video/mp4">
  Your browser does not support HTML5 video.
</video> -->