<div class = "row">
<div class = "col-lg-8">
	<div class="row"><div class = "col-md-3 col-sm-3 col-xs-3" style="font-weight: bold">Project Name</div> <div class = "col-md-1 col-sm-1 col-xs-1"> :</div><div class = "col-md-8 col-sm-8 col-xs-8">{{project.projectName}}</div><br></div><br>
	<div class="row"><div class = "col-md-3 col-sm-3 col-xs-3" style="font-weight: bold">IBG/IBU Name</div> <div class = "col-md-1 col-sm-1 col-xs-1"> :</div><div class = "col-md-8 col-sm-8 col-xs-8">{{project.ibuName}}</div><br></div><br>
	<div class="row"><div class = "col-md-3 col-sm-3 col-xs-3" style="font-weight: bold">Account Name</div> <div class = "col-md-1 col-sm-1 col-xs-1"> :</div><div class = "col-md-8 col-sm-8 col-xs-8">{{project.accountName}}</div><br></div><br>
	<div class="row"><div class = "col-md-3 col-sm-3 col-xs-3" style="font-weight: bold">Created By </div> <div class = "col-md-1 col-sm-1 col-xs-1"> :</div><div class = "col-md-8 col-sm-8 col-xs-8">{{project.user.firstName}} {{project.user.lastName}}</div></div><br>
	<div class="row"><div class = "col-md-3 col-sm-3 col-xs-3" style="font-weight: bold">Created Date </div> <div class = "col-md-1 col-sm-1 col-xs-1"> :</div><div class = "col-md-8 col-sm-8 col-xs-8">{{project.createdDate}}</div></div><br>
	<div class="row"><div class = "col-md-3 col-sm-3 col-xs-3" style="font-weight: bold">Project Description </div> <div class = "col-md-1 col-sm-1 col-xs-1"> :</div><div class = "col-md-8 col-sm-8 col-xs-8">{{project.researchAgenda}}</div></div>
<!-- 	<div>Project Description :<p>What could we do to improve the Truck owner as well as car maintenance experience?</p></div> -->
</div>
<div class = "col-lg-4" >
	<img class="img-responsive col-xs-12 col-sm-12" style="float:right;margin:5px " src="img/pic1.jpg"/>
</div>
</div>